*
{
    margin: 0;
    padding: 0;
}

img
{
    align-self: center;
    margin-left: 20px;
}
a:hover
{
    color: black;
}
.inp {
    width: 100%;
    padding: 12px 18px;
    font-size: 15px;
    border: 1.8px solid #d3d3d3;
    outline: none;
    background: #fafafa;
    transition: 0.3s ease;
}

.inp.rounded-pill {
    border-radius: 50px !important;
}
.inp::placeholder {
    color: #888;
    font-size: 14px;
    text-align: center;  
}


.inp:hover {
    border-color: #3b82f6; 
    background: #ffffff;
    box-shadow: 0 0 8px rgba(59, 130, 246, 0.3); 
}
.btn
{
    background-color: #fafafa;
    border: 1px solid #d3d3d3;
}
.btn:hover
{
    background-color: var(--color1);
    color: var(--color2);
  
}
.bg
{
    height: 100vh;
    padding-top: 100px;
    background-color: var(--color1);
}
.outer-div
{
    background-color: var(--color2);
    width: 30%;
    margin: 0 auto;
    padding: 80px 30px;
}

.logo
{
    height: 90px;
    width: 110px;
    padding-left: 20px;
    justify-items: end;
}
.flex
{
    margin: 0 auto;
}